html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    max-width: 100%; 
    overflow-x: hidden; 
}

.header-page {
    width: 100%;
    height: 70px;
    background-color: #284870;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1130;
}

.header-page-mobile {
    visibility: hidden;

}

.header-page-links {
    text-align: left;
    width: 80%;
    margin-left: 5%;
}

.header-page-links>a {
    color: white;
    margin-left: 40px;
    font-size: large;
    font-weight:300;
    text-decoration: none;

}

.header-page-links>a:hover {
    color: #A1CCA5;
}

.header-page-buttons {
    text-align: right;
    width: 20%;
    padding-right: 50px;
}



.header-page-buttons-mobile {
    position: fixed;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
}

.icon-busca {
    background-image: url(images/icones/pesquisar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    width: 35px;
    height: 35px;
}

.icon-busca:hover {
    color: #ED254E;
}


.icon-menu {
    background-image: url(images/icones/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    width: 35px;
    height: 35px;
    top: 20px;
}

@media only screen and (max-width:900px) {
    .header-page {
        height: 50px;
    }
    .header-page-links {
        visibility: hidden;
    }
    .header-page-buttons {
        visibility: visible;
       padding-right: 15px;

    }
    .header-page-buttons-mobile {
        visibility: visible;
    }
    
    .icon-menu{
        margin-top:4%;
    }

}


@media (min-width: 901px) and (max-width: 1024px) {
     .header-page {
        height: 50px;
    }
    .header-page-links {
        visibility: visible;
    }
    .header-page-buttons {
        visibility: visible;
       padding-right: 5%;

    }
    .header-page-buttons-mobile {
        visibility: hidden;
    }
    
    .icon-menu{
        visibility: hidden;
    }
}

.side-menu {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 0px;
    height: 600px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1800;
    overflow-x: hidden;
    padding-top: 6%;
    transition: 0.5s;
}

.side-menu>a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #284870;
    transition: 0.3s;
    margin-left: 15%;
    padding-top:20%;
}

.side-menu>a:active {
    color: #A1CCA5;
}

.side-menu>a:hover{
    color: #ed254e;
}



.close-button {
    position: absolute;
    float: left;
    background-image: url(images/icones/fechar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    
}


.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1101;
    background-color: rgba(0, 0, 0, .8);
}

.modal {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    height: 90%;
    width: 100%;
    background-color: #ECECEC;
    border-radius: 15px;
    z-index: 1102;
    overflow-y: scroll;

}


.modal>.close-button {
    background-image: url(images/icones/fechar.svg);
    margin-left: 3%;
    margin-top: 3%;
    right: 5%;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.modal-content-header {
    max-width:40%;
    margin: 20px;
    color: #284870;
    text-align: left;
    padding: 3%;
    position: relative;

}

.modal-content-header>h1{
    font-size: 1.2rem;
    color:#284870;
}

.modal-content-header>p{
    font-size: 1rem;
    padding: 5% 5% 5% 5%;
    color:#284870;
    text-align: left;
}

.pdescricao{
    font-size: 1rem;
    padding: 5% 5% 5% 5%;
    color:#284870;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
 
}

.pcontato{
    font-size: 1rem;
    padding: 5% 5% 5% 5%;
    color:#284870;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom:3%;
    margin-right: 10%;
    line-height: 1.3rem;

}

.modal-content-header>img{
    object-fit: cover;
    border-radius: 8px;
    width: 95%;
    height: 300px;
}

.modal-content-card1 {
    text-align: center;
    border-radius: 15px;
    margin: 13% 3% 3% 4%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
    width: 50%;
    background-color: #A1CCA5;
    padding-bottom: 5%;
    position: relative;

}

.modal-content-card1>h1 {
    font-size: 1.2rem;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 2%;
    padding-top: 2%;

    
}


.modal-content-card2 {
    text-align: center;
    border-radius: 15px;
    margin:3%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
    width:50%;
    background-color: #F5F5F5;
    padding: 2% 2% 25 2T%;
    padding-bottom: 5%;
    position: relative;


}

.modal-content-card2>h1 {
     font-size: 1.2rem;
     color:#284870;
     text-transform: uppercase;
     font-weight:600;
     padding-bottom: 2%;
     padding-top: 2%;

}

@media only screen and (max-width:900px) {
    .modal{
        width: 80%;
        overflow-y: scroll;
    }

    .modal-content{
        display: inline;
    }
    
    .modal-content-header {
    max-width:90%;
    border-radius: 10px;

    }
    .modal-content-header>img{
    width: 100%;
    }
    
    .modal-content-card1 {
    width: 90%; 
    border-radius: 10px;

}
    
     .modal-content-card2 {
    width: 90%; 
    border-radius: 10px;

}
}


@media (min-width: 901px) and (max-width: 1024px) {

    .modal{
        width: 80%;
        overflow-y: scroll;
    }

    .modal-content{
        display: inline;
    }
    .modal-content-header>img{
    width: 100%;
    }
    
    .modal-content-header {
    max-width:100%;
    border-radius: 10px;
    padding-top: 10%;

    }
    
    .modal-content-card1 {
    width: 90%; 
    border-radius: 10px;

}
    
     .modal-content-card2 {
    width: 90%; 
    border-radius: 10px;

}
    
    

.modal>.close-button {
    margin-top: 5%;
}

}


.titulo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b b c";
    text-align: left;
    padding-bottom: 2%;
}

.titulo>img {
    width: 40%;
    height: auto;
    margin-top: 30%;
    margin-left:30%;
}

.titulo>p {
    grid-area: b;
    text-align: left;
    text-transform: uppercase;
    color: #284870;
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 29%;
    margin-left:0;
}

.span_titulo{
   font-weight: 600;
}

@media only screen and (max-width:900px) {
    .titulo{
        padding-top:8%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b";
        align-items: center;
    }
   .titulo>img {
    width: 50%;
    height: auto;
    margin-top: 14%;
    margin-left:20%;
}

    .titulo>p {
        grid-area: b;
        text-align: left;
        text-transform: uppercase;
        color: #284870;
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 4.3vw;
        margin-top: 30%;
        margin-right: 5%;

}
}


@media (min-width: 901px) and (max-width: 1024px) {
.titulo{
        padding-top:3%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b";
        align-items: center;
    }
   .titulo>img {
    width:40%;
    height: auto;
    margin-top: 10%;
    margin-left:30%;
}

    .titulo>p {
        grid-area: b;
        text-align: left;
        text-transform: uppercase;
        color: #284870;
        font-size: 3vw;
        font-weight: 400;
        line-height: 4.3vw;
        margin-top: 25%;
        margin-right: 10%;

}
    
}

.header-section {
    text-align: center;
    margin: 3%;
}

.header-section>h1 {
    color: #ED254E;
    text-transform: uppercase;
    font-weight:500;
    font-size: 1.6rem;

}

.header-section>p {
    color: #2E343B;
    text-transform:full-width;
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 0px;
   

}

.content {
    text-align: center;
}

.grid-campanha {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 40px;  
}


.card-campanha {
    width: 320px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px 10px;
    position: relative;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    line-height:2rem;

}


.card-campanha-img {
    object-fit: cover;
    border-radius: 15px;
    width: 320px;
    height: 300px;
    /* Add the blur effect */
    /* filter: blur(4px); */
    /* -webkit-filter: blur(4px); */
    /* background: darkblue; */
    /* opacity: .7; */
    z-index: 0;
}

.card-campanha-filter {
    /* object-fit: cover; */
    top: 20px;
    border-radius: 15px;
    /* width: 320px; */
    /* max-height: 300px; */
    position: absolute;
    width: 320px;
    height: 300px;
    background: #284870;
    opacity: .90;
    z-index: 1;
}

.card-campanha-titulo {
    position: absolute;
    color: #fff;
    left: 30%;
    top: 3%;
    right: 15%;
    font-size: 1.6em;
    font-weight: 500;
    z-index: 2;
    /* background: #ffff; */
    /* text-transform: uppercase; */
    text-align: left;
    
    
}

.card-campanha-risco {
    /* object-fit: cover; */
    top: 6%;
    /* right: 4%; */
    left: 25%;
    /* border-radius: 8px; */
    /* width: 320px; */
    /* max-height: 300px; */
    position: absolute;
    width: 3px;
    height: 270px;
    background: #fff;
    /* opacity: .80; */
    z-index: 2;
}


.card-campanha-folhapequena {
    position: absolute;
    color: #ffffff;
    width: 21px;
    height: 33px;
    /* object-fit: cover; */
    top: 230px;
    /* right: 4%; */
    left: 38px;
    z-index: 2;
}

.card-campanha-cabopequeno {
    position: absolute;
    color: #ffffff;
    width: 7px;
    height: 22px;
    /* object-fit: cover; */
    top: 248px;
    /* right: 4%; */
    left: 41px;
    z-index: 2;
}


.card-campanha-folhagrande {
    position: absolute;
    color: #ffffff;
    width: 36px;
    height: 35px;
    /* object-fit: cover; */
    top: 245px;
    /* right: 4%; */
    left: 45px;
    z-index: 2;
}

.card-campanha-cabogrande {
    position: absolute;
    color: #ffffff;
    width: 27px;
    height: 18px;
    /* object-fit: cover; */
    top: 262px;
    /* right: 4%; */
    left: 37px;
    z-index: 2;
}


.card-campanha-filter:hover {
   object-fit: cover;
    border-radius: 15px;
    width: 320px;
    height: 300px;
    opacity: 0.1;
    z-index: 3;
}


.card-campanha>div {
    text-align: center;
    color: rgb(128, 128, 128);
}



@media only screen and (max-width:900px) {
        
.grid-campanha {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    align-items: center;
    
}  
    
    
.card-campanha {
    width: 280px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px 10px;
    position: relative;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    line-height:2rem;

}

.card-campanha-img {
    object-fit: cover;
    border-radius: 15px;
    width: 280px;
    height: 300px;
    /* Add the blur effect */
    /* filter: blur(4px); */
    /* -webkit-filter: blur(4px); */
    /* background: darkblue; */
    /* opacity: .7; */
    z-index: 0;
}

.card-campanha-filter {
    /* object-fit: cover; */
    top: 20px;
    border-radius: 15px;
    /* width: 320px; */
    /* max-height: 300px; */
    position: absolute;
    width: 280px;
    height: 300px;
    background: #284870;
    opacity: .90;
    z-index: 1;
}

    
.card-campanha-titulo {
    position: absolute;
    color: #fff;
    left: 30%;
    top: 3%;
    right: 15%;
    font-size: 1.4em;
    font-weight: 500;
    z-index: 2;
    /* background: #ffff; */
    /* text-transform: uppercase; */
    text-align: left;
    
    
}

.card-campanha-risco {
    /* object-fit: cover; */
    top: 6%;
    /* right: 4%; */
    left: 25%;
    /* border-radius: 8px; */
    /* width: 320px; */
    /* max-height: 300px; */
    position: absolute;
    width: 2px;
    height: 270px;
    background: #fff;
    /* opacity: .80; */
    z-index: 2;
}

.card-campanha-folhapequena {
    position: absolute;
    color: #ffffff;
    width: 19px;
    height: 31px;
    /* object-fit: cover; */
    top: 230px;
    /* right: 4%; */
    left: 22px;
    z-index: 2;
}

.card-campanha-cabopequeno {
    position: absolute;
    color: #ffffff;
    width: 5px;
    height: 20px;
    /* object-fit: cover; */
    top: 248px;
    /* right: 4%; */
    left: 27px;
    z-index: 2;
}


.card-campanha-folhagrande {
    position: absolute;
    color: #ffffff;
    width: 31px;
    height: 30px;
    /* object-fit: cover; */
    top: 245px;
    /* right: 4%; */
    left: 35px;
    z-index: 2;
}

.card-campanha-cabogrande {
    position: absolute;
    color: #ffffff;
    width: 25px;
    height: 15px;
    /* object-fit: cover; */
    top: 262px;
    /* right: 4%; */
    left: 30px;
    z-index: 2;
}

.card-campanha-filter:hover {
   object-fit: cover;
    border-radius: 15px;
    width: 280px;
    height: 300px;
    opacity: 0.1;
    z-index: 3;
}
  

    }


.button-vermais {
    width: 120px;
    height: 40px;
    background: var(--unnamed-color-ed254e) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #ED254E 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
}

.instituicao-nome {
    color: #2E343B;
    
    
}

.grid-instituicoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
}

.card-instituicao {
    max-width: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: small;
}

.card-instituicao>img {
    width: 80%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .2);
    border-radius: 50%;
}

@media only screen and (max-width:900px) {
    .card-sobre {
        width: 100%;
        text-align: center;
    }
    .card-sobre>h1 {
        width: 100%;
        margin: 0px;
        color: white;
        text-transform: uppercase;
    }
    .card-sobre>p {
        text-align: left;
        font-size: small;
        padding-left: 30px;
        padding-right: 30px;

    }
}

#map {
    position: inline;
    height: 600px;
    width: 70%;
    left:10%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
}

@media only screen and (max-width:900px) {
    #map {
        width: 80%;
        height: 400px;
        margin-top:3%;
    }

}


.header-sectionsobre {
    text-align: center;
    margin: 3%;
}

.header-sectionsobre>h1 {
    color: #ED254E;
    text-transform: uppercase;
    font-weight:500;
    font-size: 1.6rem;

}

.header-sectionsobre>p {
    color: #2E343B;
    text-transform:full-width;
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 0px;
}

@media only screen and (max-width:900px) {
    .header-sectionsobre>h1  {
        font-size: 1.3rem;
        padding-top: 3%;
    }
}


.linha_sobre{
    width:70%;
    height: 3px;
    background: #2E343B;
    opacity: 1;
    margin-left: 15%;
}

.grid_sobre{
    width: 100%;
    position: relative;
    content: ""
}

.conteudo-1{
    text-align: left;
    width: 18%;
    height: 700px;
    float:left;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;

}


.rect{
    top: 5532px;
    width: 200px;
    height: 200px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--unnamed-color-2e343b) 0% 0% no-repeat padding-box;
    background: #2E343B 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
   
}

.rect>h1{
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    bottom: 5%;
    transform: rotate(-45deg);
    margin-top: 5%;
    padding-left: 35%;
}


.icones_sobrepq{
    width: 50%;
    height: 50%;
    z-index:6;
    position: center;
    transform: rotate(-45deg);
    margin-top: 9%;
    margin-left: 10%;
    
}

.conteudo-2{
    float:left;
    width:25%;
    text-align: left;
    color: #2E343B;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    padding: 20px 20px 20px 20px;
    margin-left: 30%;
    line-height: 1.4rem;
}

conteudo-2>p{
    text-align: left;
    color: #2E343B;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.conteudo-2-2{
   float:right;
    width:25%;
    text-align: left;
    color: #2E343B;
    font-weight: 400;
    padding: 20px 20px 20px 20px;
    position: absolute;
    margin-top: 1%;
    margin-left: 60%;
}

.conteudo-2-2>p{
    text-align: left;
    color: #2E343B;
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1.4rem;
}
.spanbloco{
    text-align: left;
    color: #2E343B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
}


    
    
@media only screen and (max-width:900px) {
    
.grid_sobre{
    width: 100%;
    height: auto;
    position: relative;
   padding-top: 50%;
    content: none;
   align-items: center;


}

.conteudo-1{
    margin-top: 16%;
    margin-left: 20%;
    width: 80%;
    align-items: center;

}
    
.conteudo-2{
    text-align: left;
    width: 80%;
    position: relative;
    margin-left: 3%;
    align-items: center;
    margin-top: 77%;
    margin-left: 3%;
}
    
.conteudo-2-2{
    width:80%;
    color: #2E343B;
    font-weight: 400;
    position: relative;
    text-align: left;
    margin-top: -10%;
}
    
.conteudo-2-2>p{
    text-align: left;
    color: #2E343B;
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1.4rem;
    margin-top: 10%;
    
}

    
.linha_sobre2{
    overflow: hidden;
}
    

}



@media (min-width: 901px) and (max-width: 1024px) {

.grid_sobre{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40%;
    content: none;
    align-items: center;


}

.conteudo-1{
    margin-top: 25%;
    margin-left: 5%;
    width: 25%;
    align-items: center;

}
    
.conteudo-2{
    text-align: left;
    width: 30%;
    position: relative;
    margin-left: 3%;
    align-items: center;
    margin-top: 3%;
    margin-left: 30%;
}
    
.conteudo-2-2{
    width:30%;
    color: #2E343B;
    font-weight: 400;
    position: relative;
    text-align: left;
    margin-top: -63%;
    margin-right: 3%;

}
    
.conteudo-2-2>p{
    text-align: left;
    color: #2E343B;
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1.4rem;
    margin-top: 3%;
    
}

    
.linha_sobre2{
    overflow: hidden;
}
    
    
}
    
    

.linha_sobre2{
    margin-left: 15%;
    width:70%;
    height: 3px;
    background: #2E343B;
    opacity: 1;
    margin-top:43%;
}
    

.wrappersobre{
    display: grid;
    grid-template-columns: 20% 24% 20% 24%;
    margin-left:10%;
    align-items: center;
}

@media only screen and (max-width:900px) {
    
.wrappersobre{
    display: grid;
    grid-template-columns: 100%;

}
}
    
    @media (min-width: 901px) and (max-width: 1024px) {      
   
.wrappersobre{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left:3%;
    align-items: center;
}     


}
    
.coluna{
    margin-top:10%;
    margin-right:20%;
    padding-left: 15%;
    padding-bottom: 5%;

    }
    
.coluna1{
    margin-top:25%;
    padding-left: 15%;
    padding-bottom: 5%;
    
}

.icones_sobre{
    width: 35%;
    height: 35%;
    z-index:6;
    position: center;
    margin-top: 20%;
    margin-left: -55px;
    transform: rotate(-45deg);
}

.h1colunas{
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    bottom: 5%;
    transform: rotate(-45deg);
    margin-top: 3%;
    padding-left: 30%;
}

.rect1{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--unnamed-color-ed254e) 0% 0% no-repeat padding-box;
    background: #ED254E 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
    
}

.rect2{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--unnamed-color-a1cca5) 0% 0% no-repeat padding-box;
    background: #A1CCA5 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
}




.rect3{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--unnamed-color-f7b05b) 0% 0% no-repeat padding-box;
    background: #F7B05B 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
}

.rect3>h1{
    text-align: center;
    color: #2E343B; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    bottom: 5%;
    transform: rotate(-45deg);
    margin-top: 3%;
    padding-left: 30%;
}


.rect4{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--unnamed-color-f7ce5b) 0% 0% no-repeat padding-box;
    background: #F7CE5B 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
}

.rect4>h1{
    text-align: center;
    color: #2E343B; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    bottom: 5%;
    transform: rotate(-45deg);
    margin-top: 3%;
    padding-left: 30%;
}


.pcoluna{
    text-align: left;
    letter-spacing: 0px;
    color: #2E343B;
    opacity: 1;
    font-size: 1rem;
    margin-left:-5%;
    line-height: 1.3rem;
}

.spancoluna{
    text-align: left;
    letter-spacing: 0px;
    color: #2E343B;
    opacity: 1;
    font-size: 1.3rem;
    margin-left:-5%;
}

.linha_sobre3{
    margin-left: 15%;
    width:70%;
    height: 3px;
    background: #2E343B;
    opacity: 1;
    margin-top:5%;
    position: absolute;
}

.contato{
    margin-top:30%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3%;
}

.rect5{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #2E343B;
    border-radius: 15px;
    opacity: 1;
    z-index:3;
    margin-top: 15%;
    margin-left: 55%;
    float: left;
}

.rect5>h1{
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    bottom: 1%;
    transform: rotate(-45deg);
    padding-left: 25%;
}

.formulario{
    width: 80%;
    margin-top: 10%;
    float:right;
}

.campo{
    text-align: left;
    letter-spacing: 0px;
    color: #2E343B;
    opacity: 1;
}

.imput{
    width: 70%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-2e343b);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2E343B;
    border-radius: 15px;
    opacity: 1;
    color: #FF9345;
    padding-left: 10px;
    margin:1%;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
    
}

.formulario>p{
    text-align: left;
    font-size: 0.7rem;
    margin-top: 0;
}

.button-enviar{
    width: 120px;
    height: 40px;
    background: var(--unnamed-color-ed254e) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #ED254E 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    float:  right;
    margin-right: 33%;
    margin-top: -20px;

}

@media only screen and (max-width:900px) {
   
.contato{
    margin-top:30%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 5%;
    padding-bottom: 5%;

    }
    
.rect5{
    margin-top: 17%;
    margin-left: 25%;
}
    
.formulario{
    width: 90%;
    margin-top: 18%;
    margin-left: 15%;
    }

.button-enviar{
    margin-right: 45%;
    margin-top: 10px;

} 
.pcoluna{
    text-align: center;
    
}

    
}


@media (min-width: 901px) and (max-width: 1024px) {      

   
.button-enviar{
    margin-right: 45%;
    margin-top: 20px;

}      
        
   
.rect5{
    margin-top: 30%;
    margin-left: 40%;
}     

.formulario{
    width: 80%;
    margin-top: 15%;
    float:right;
}

}

.rect_fundo{
    top: 7400px;
    margin-left:-15%;
    width: 1850px;
    height: 1850px;
    background: #ECECEC 0% 0% no-repeat padding-box;
    transform: rotate(45deg);
    border-radius: 15px;
    opacity: 1;
    content:'';
    position:absolute;
    display: block;
    z-index: -10;
    }


@media only screen and (max-width:900px) {
    .rect_fundo{
   display: none;}
}

@media (min-width: 901px) and (max-width: 1024px) {
     .rect_fundo{
   display: none;}
}


.retangulo{
    background: #284870 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height:70px;
    margin-top: 10%;
    bottom: 0;
}



.botaofixo{
    background-repeat: no-repeat;
    float: right;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 2%;
    z-index: 1130;
    right: 2%;
    display: none;

}
